%footer#contact
  .container
    .row
      .col-md-4.col-sm-4
        %h2 Chung toi cam ket
        %hr
        %p Giao hang toan quoc
        %p Chung toi giao hang den 64 tinh thanh
        %hr
        %p Mien phi van chuyen noi thanh
        %p Chung toi hien dang mien phi van chuyen cho cac khang hang mua don hang tren 500 nghin VND trong cac quan noi thanh ha noi
        %hr
        %span hotline ho tro
        %strong 0123456789
      .col-md-4.col-sm-4
        %h2 Lien he
        %hr
        %p TRASEN.VN - Noi cung cap tra sen tay ho chinh hieu
        %p Tru so chinh: So 123 ABC, Quan XYZ, TP. Ha Noi
        %p Dia diem mua Tra Sen:
        %p Dia Diem 1: So 169 Nghi Tam, Q.Tay Ho, Tp. Ha Noi
        %p Dia Diem 2: So 133 Tran Cung, Q.Tay Ho, Tp. Ha Noi
        %hr
        %span Tong dai ho tro:
        %b 0123 456 789
        %br
        %span Hotline:
        %b 0123 456 789
        %br
        %span Email:
        %a{href: "#"} abc@gmail.com
      .col-md-4.col-sm-4.text-center
        %h2 Chung toi tren Facebook
        %img{src: "assets/test-1.png"}
