%footer#contact
  .container
    .row
      .col-md-4.col-sm-4
        %h2 Chung toi cam ket
        %hr
        %p Giao hang toan quoc
        %p Chung toi giao hang den 64 tinh thanh
        %hr
        %p Mien phi van chuyen noi thanh
        %p Chung toi hien dang mien phi van chuyen cho cac khang hang mua don hang tren 500 nghin VND trong cac quan noi thanh ha noi
        %hr
        %span hotline ho tro
        %strong 0123456789
      .col-md-4.col-sm-4
        %h2 Lien he
        %hr
        %p TRASEN.VN - Noi cung cap tra sen tay ho chinh hieu
        %p Tru so chinh: So 123 ABC, Quan XYZ, TP. Ha Noi
        %p Dia diem mua Tra Sen:
        %p Dia Diem 1: So 169 Nghi Tam, Q.Tay Ho, Tp. Ha Noi
        %p Dia Diem 2: So 133 Tran Cung, Q.Tay Ho, Tp. Ha Noi
        %hr
        %span Tong dai ho tro:
        %b 0123 456 789
        %br
        %span Hotline:
        %b 0123 456 789
        %br
        %span Email:
        %a{href: "#"} abc@gmail.com
      .col-md-4.col-sm-4.text-center.facebook
        .box-heading
          %h2 Chung toi tren Facebook
        %hr
        .box-content
          %span{:style => "vertical-align: bottom; width: 300px; height: 213px;"}
            %iframe{:allowfullscreen => "true", :allowtransparency => "true", :frameborder => "0", :height => "256px", :name => "f3a2cbc6dc", :scrolling => "no", :src => "https://www.facebook.com/v2.2/plugins/like_box.php?app_id=&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F0eWevUAMuoH.js%3Fversion%3D42%23cb%3Df14038dca8%26domain%3Dlivedemo00.template-help.com%26origin%3Dhttps%253A%252F%252Flivedemo00.template-help.com%252Ff17197e1f8%26relation%3Dparent.parent&color_scheme=light&container_width=326&header=false&height=256&href=https%3A%2F%2Fwww.facebook.com%2FTemplateMonster&locale=en_US&sdk=joey&show_border=false&show_faces=true&stream=false&width=300", :style => "border: none; visibility: visible; width: 300px; height: 213px;", :title => "fb:like_box Facebook Social Plugin", :width => "300px"}
