.navbar {
  background: #F2F0EB;
}
.section {
  margin-bottom: 20px;
}
#main_product {
  h1, h2, h3, h4 {
    color: #4D4237;
  }
  a, p {
    color: #a57a4b;
  }
  a.product {
    .price {
      span {
        font-size: 30px;
      }
      small {
        font-size: 20px;
      }
    }
    .title h3 {
      margin-top: 10px;
    }
    & .col-md-3:hover {
      background: #ddd;
      border-radius: 5px;
    };
  }
}
#introduce_product {
  background: #F2F0EB;
  h1 {
    color: #4D4237;
  }
  ul {
    float: right;
    position: absolute;
    right: 120px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      a {
        color: #fff;
        padding: 10px 20px;
        background: #2D3E50;
        border-radius: 5px;
      }
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .suggest {
    .title {
      float: left;
      width: 90%;
      padding: 10px;
      background: none repeat scroll 0 0 #000000;
      opacity: 0.75;
      color: #fff;
      text-decoration: none;
      margin-top: -60px;
      text-transform: uppercase;
      font-weight: bold;
    }
    img {
      border-radius: 10px;
      box-shadow: -1px 0 10px 3px #606060;
    }
  }
}
